</html><!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Register Page</title>
</head>
<body>

	<h1 class="title">LOGIN</h1>
	
	<form method="post" action="/login" th:object="${loginRequest}">
		
		<input type="text" name="username" placeholder="Username" /> 
		<input type="text" name="password" placeholder="Password" /> 
		
		<button type="submit">Login</button>
	</form>

	<a href="/register">Register</a></br>
	<a href="/">Home</a>


</body>
</html>