</html><!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Register Page</title>
</head>
<body>

	<h1 class="title">REGISTER</h1>
	
	<form method="post" action="/register" th:object="${registerRequest}">
		
		<input type="text" name="username" placeholder="Username" /> 
		<input type="text" name="password" placeholder="Password" /> 
		<input type="password" name="email" placeholder="Email" />
		
		<button type="submit">Register</button>
	</form>

	<a href="/login">Login</a></br>
	<a href="/">Home</a>


</body>
</html>